.releaseproject .pagetitle {
    display: flex;
    align-items: center;
    /* background-color: red; */
    width: 90%;
}

.releaseproject {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.pagetitle h3
{
    font-size: 1.2em;
}
.releaseproject .pagetitle i {
    font-size: 1.5em;
    color: rgb(228, 80, 80);
    margin: 0 5px;
    background-color: rgb(226, 226, 226);
    padding: 10px;
    border-radius: 15px;

}

.re-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    

}

.re-container .ready {
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.re-container .inprogress {

    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.re-container .review {
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 20px 0; */
    /* background-color: red; */
}

.cont {
    width: 25%;
    /* height: 90vh; */
    /* padding-bottom: 20px; */

    height: auto;
    transition: all .8s ease-in-out;
    margin: 0 5px;

}

.re-container .cont-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 9px 0px rgb(221 221 221);
    border-radius: 5px;
    padding: 8px 10px;
}

.ready .cont-header {

    border-top: 3px solid rgb(84, 235, 24);


}

.inprogress .cont-header {

    border-top: 3px solid rgb(4, 205, 255);


}

.review .cont-header {

    border-top: 3px solid rgb(255, 43, 43);


}
.re-container .cont-header h4
{
    font-size: 1.2em;
    font-weight: 500;
    padding: 0;
    margin: 0;
    color: rgba(70, 70, 70, 0.781);
}
.re-container .cont-header span {
    margin: 0 5px;
    padding: 0px 10px;
    border-radius: 10px;
    font-weight: 500;
    background-color: rgba(196, 196, 196, 0.473);
    color: rgb(134, 134, 134);

}

@media screen and (max-width:1100px) {
    .cont {
        width: 250px;
        height: auto;
        transition: all .8s ease-in-out;
        margin: 0 5px;
    
    }

}
@media screen and (max-width:800px) {
    .releaseproject {
        margin: 20% 0 0 0;
    }
    .cont {
        width: 350px;
        height: auto;
        transition: all .8s ease-in-out;
        margin: 0 5px;
    
    }

}

@media screen and (max-width:580px) {
    .releaseproject .pagetitle h3 {
        margin: 0;
        font-size: 1.3em;
        padding: 5px;
    }


    .releaseproject i {
        font-size: 1em;
        color: rgb(228, 80, 80);
        margin: 0;
        background-color: rgb(226, 226, 226);
        padding: 5px;
        border-radius: 15px;

    }

}