.profile
{
    position: absolute;
    background-color: rgb(221, 221, 221);
    height: 25%;
    z-index: 100;
    top: 5%;
    right: 1%;
    border-radius: 10px;
    width: 20%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    padding: 10px;
}
.pro-image
{
    height: 50%;
    display: block;
}
.pro-image img
{
    margin: auto;
    border-radius: 50%;
    height: 70%;
}
.pro-info
{
    height: 20%;
   display: grid;
   place-items: center;
}
.pro-info .pro-name
{
    color: rgb(85, 85, 85);
    font-size: 1.3em;
    font-weight: 500;
}
.pro-info .pro-role
{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 0.8em;
    font-weight: 500; 
    padding: 1px 5px;
    display: inline-block;
    border-radius: 20px;
    background-color: rgb(8, 110, 168);
}
.pro-controll
{ height: 30%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pro-controll button
{
    border: none;
    outline: none;
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: .8em;
    color: #fff;
    background-color: rgb(62, 62, 241);
}
@media screen and (max-width:800px){
    .profile
{
    position: absolute;
box-shadow: 2px 2px 25px 5px rgb(139, 139, 139);
    height: 60vh;
    z-index: 100;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    width: 90%;
    margin: auto;
}
.pro-image
{
    height: 50%;
}
.pro-name
{
    height: 20%;
}
}