.user {
    align-items: center;
    margin: 10px 0;
}

.userpic {
    width: 5%;
    /* background-color: red; */
    text-align: center;

}

.username {
    width: 30%;
}

.userimg {
    display: grid;
    place-items: center;
}

.userimg img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.userdetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* width: 30%; */
}

.userdetails p ,.useractivity p {
    font-size: .6em;
    font-weight: 600;
    margin: 0;
}

.userusage, .userpayment, .useractivity {
    display: grid;
    place-content: center;
    margin: 0 1%;
}

.useractivity {
    display: block;
}

.usercountry {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}
.usercountry img 
{
    height: 20px;
    width: 25px;
    margin: 10px 0 0 0;
}
.userpayment
{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    height: 100%;
    margin: 0;
}
.userpayment i
{
    margin-top: 5px;
   font-size: 1.3em;
}
.userdetails p:nth-child(1)
{
    font-size: .9em;
    font-weight: 600;
    color: rgb(78, 78, 78);
}
.userdetails p:nth-child(2)
{
    color: rgb(102, 102, 102);
    font-weight: 500;
}
.useractivity p:nth-child(1)
{
    font-size: .7em;
    font-weight: 600;
    color: rgb(78, 78, 78);
}
.useractivity p:nth-child(2)
{
    color: rgb(102, 102, 102);
    font-weight: 500;
}
