.card {
    position: relative;
    width: 100%;
    height: auto;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
    background-color: #fff;
    /* box-shadow: 0px 5px 30px 5px rgb(226, 226, 226); */
    filter: drop-shadow(0px 10px 10px rgb(219, 219, 219));
    cursor: move;
    outline: none;
    border: none;
    transition:all .5s ease-in-out;
}
.card:hover {
    transform: scale(1.05);
}
.cardlist
{
    height: auto;
    /* border-radius: 0 0 10px 10px; */
    /* background-color: rgb(245, 245, 245); */
    padding: 10px 0;
    width: 100%;
    display: grid;
    place-items: center;
}
.details
{
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    height: 100%;
    justify-content: space-between;
    position: relative;
}

.details .path
{
    color: gray;
    font-size: .8em;
}
.details .query
{
   padding: 25px 0;
   font-size: 0.9em;
   font-weight: 500;
   color: rgba(37, 37, 37, 0.788);

}

.customer-pic {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}

.customer-pic img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
@media screen and (max-width:760px){
    .card {
        position: relative;
        width: 95%;
        height: 200px;
        padding: 20px;
        margin: 10px auto;
        border-radius: 10px;
        cursor: move;
    }
    
}