
.sidebar {
    float: left;
    position: fixed;
   top: 0;
    
    height: 100vh;
    overflow: hidden;
    background-color: rgb(236, 236, 236);
    transition: all .8s ease-in-out;
    z-index: 100;
   
}
.sidebar a
{
    text-decoration: none;
}
.main
{
    display: flex;
    overflow-x: hidden;
    flex-direction: row;
}


.body {
    /* float: left; */
    transition: all .8s ease-in-out;
    /* background-color: red; */
    /* width: 100%; */
    margin: 3% 0;
    
}
