.main {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    flex-direction: row;
    height: 100vh;
    overflow-y: hidden;
    transform-origin: right;
}

.sidebar {
    height: 100vh;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    border-right: .1em solid rgb(241, 241, 241);
    transition: all .5s ease-in-out;
    z-index: 100;
    position: relative;
}

.sidebar a {
    text-decoration: none;
}

.righttab {
    display: flex;
    overflow: scroll;
    flex-direction: column;
    transition: all .5s ease-in-out;
   
}

.navmenu {
    /* background-color: red; */
    width: 100%;
    position: sticky ;
    top: 0;
    right: 0;
    margin: 0 0 5% 0;
    z-index: 100;
}

.body {

    transition: all .8s ease-in-out;

    width: 100%;
    margin: 3% 0;

}
@media all and (max-width:780px)
{
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
    }
    .navmenu {
        margin: 0 0 0 0;
    }
}