.option {
    display: flex;
    align-items: center;
    padding: 10%;
    margin: 5px 10px;
    min-width: 100%;
    height: 7%;
    width: 200px;
    cursor: pointer;
    outline: none;
    border: none;
    /* justify-content:space-between; */

}

.control {
    height: 10%;
    /* background-color: red; */
    position: relative;
    /* padding: 10px; */
}

.control i {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    padding: 5px 8px;
    background-color: red;
    color: #fff;
    border-radius: 50%;
}

.option:hover .icon {
    color: rgb(255, 0, 0) !important;


}

.sidebar .active .option {
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}
/* 
.sidebar .active .option::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 5px;
    width: 95%;
    border-radius: 0 0 10px 0;
    background-color: rgb(255, 255, 255);

} */

/* .sidebar .active .option::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    height: 5px;
    width: 95%;
    border-radius: 0 10px 0 0;
    background-color: rgb(24, 5, 68);

} */


.sidebar .active .icon, .sidebar .active .option-value {
    color: #000 ;
}

.option:hover .option-value {
    color: rgb(255, 0, 0) !important;

}


.option .icon {
    margin: 0 20px 0 0;
    color: rgb(107, 107, 107);
}

.option-value {
    color: rgb(107, 107, 107);
    font-weight: 500;
    /* padding-right:10px ; */
}