.option {
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin: 5px 0px;
    width: 100%;
    /* background-color: red; */
    height: 50px;
    /* width: 200px; */
    cursor: pointer;
    outline: none;
    border: none;
    justify-content: flex-start;
    transition: .2s ease-in;
}

.control {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.control h3 span {
    font-weight: 700;
    color: rgb(212, 55, 16);
}

.option:hover .icon {
    color: rgb(255, 0, 0) !important;


}

/* 
.sidebar .active .option::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 5px;
    width: 95%;
    border-radius: 0 0 10px 0;
    background-color: rgb(255, 255, 255);

} */

/* .sidebar .active .option::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    height: 5px;
    width: 95%;
    border-radius: 0 10px 0 0;
    background-color: rgb(24, 5, 68);

} */


.sidebar .active .icon i, .sidebar .active .option-value p {
    color: rgb(255, 0, 0);

}

.sidebar .active .option {
    border-left: 3px solid red;
    background-color: rgba(245, 46, 46, 0.226);
}

.option:hover .option-value {
    color: rgb(255, 0, 0) !important;

}


.option .icon i {
    margin: 0 20px 0 0;
    color: rgb(107, 107, 107);
}

.side-search {
    /* background-color: red; */
    width: 100%;
    padding: 5px 10px;
}

.side-search input {
    outline: none;
    border: none;
    font-size: .7em;
    background-color: transparent;
    width: 80%;
}

.side-search i {
    padding: 0 5px;
    font-size: .7em;
}


.option .option-value p {
    color: rgb(107, 107, 107);
    font-weight: 500;
    font-size: .7em;
    padding: 0;
    margin: 0;
}

.sidebar-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: auto !important;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: rebeccapurple; */
}

.user-pro-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-pro-list .userav:nth-child(1) {

    display: block;
    color: red;
}

.user-pro-list .userav:nth-child(2) {

    display: block;
    color: rgb(25, 216, 175);
    position: relative;
    right: 5px;
    background-color: rgb(255, 255, 255);
}

.user-prev {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}

.user-invite {
    display: flex;
    font-size: .8em;
    justify-content: center;
    align-items: center;
    background-color: rgba(252, 16, 16, 0.616);
    color: #fff;
    padding: 2px;
    border-radius: 10px;
    flex-direction: row;
    cursor: pointer;
}
.user-invite:hover
{
    border: .05em solid gray;
    background-color: rgb(221, 221, 221);
    color: rgba(252, 16, 16, 0.616);
}

.user-invite h6 {
    font-size: .8em;
    margin: 0 5px;
}
.app-help
{
    /* background-color: red; */
    cursor: pointer;
    padding: 2px;
    color: rgb(172, 172, 172);
}
.app-help:hover
{
    color: rgb(122, 122, 122);
}

@media screen and (max-width:800px) {
    .option .icon i {
        font-size: 1em;
    }

    .option .option-value p {
        font-size: 1em;
        padding: 0;
        margin: 0;
    }

}