@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
:root
{
--light-mode-bg : #5B4DE0;
--dark-mode-bg : #321FDA;
}
*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
::-webkit-scrollbar {
  display: none;
}
